.row
  .col-xs-12
    .panel(ng-show='beer.name')
      .panel-heading.panel-warning
        h1#bName {{beer.name}}
        .panel.body(ng-show='beer.name')
          .row
            .col-xs-4
              img#label(ng-src='{{beer.labels.medium || "/img/logo.jpg"}}')
            .col-xs-4
              h1#abvText(ng-show='beer.abv') ABV
              h1#abv(ng-show='beer.abv') {{beer.abv}}%
            .col-xs-4
              h2#glass {{beer.glass.name}}
              img#pint(src='{{beer.glass.img}}')
          .row
            .col-xs-12
              h4(ng-show='beer.description') Description:
              h5#description {{beer.description}}
        .panel-footer
          .row
            .col-xs-12
              h2#style(ng-show='beer.style.name') Style: {{beer.style.name}}

.row
  .col-xs-12
    h1#beerD Beers I Love!
    a.thumbnail(href='', ng-repeat='love in user.loveIt', ng-click='showDash(beer)')
      img#test(ng-src='{{love.labels.large || "/img/logo.jpg"}}', alt='beer')
      .name{{love.name}}
      button.btn.btn-default#del(ng-click='delBeer(love.id)') Delete

.row
  .col-xs-12
    h1#beerD Beers I Dislike
    a.thumbnail(href='', ng-repeat='hate in user.hateIt', ng-click='showDash(beer)')
      img#test(ng-src='{{hate.labels.large || "/img/logo.jpg"}}', alt='beer')
      .name{{hate.name}}
      button.btn.btn-default#del(ng-click='delBeer(hate.id)') Delete

