.row
  .col-xs-12
    .panel(ng-show='beer.name')
      .panel-heading.panel-warning
        h1#bName {{beer.name}}
        .panel.body(ng-show='beer.name')
          .row
            .col-xs-4
              img#label(src='{{beer.labels.medium}}' || '/img/logo.jpg')
            .col-xs-4
              h1#abvText(ng-show='beer.abv') ABV
              h1#abv(ng-show='beer.abv') {{beer.abv}}%
            .col-xs-4
              h2#glass {{beer.glass.name}}
              img#pint(src='{{beer.glass.img}}')
          .row
            .col-xs-12
              h4(ng-show='beer.description') Description:
              h5#description {{beer.description}}
        .panel-footer
          .row
            .col-xs-12
              h2#style(ng-show='beer.style.name') Style: {{beer.style.name}}

.row
  .col-cs-12.dashboard
    h1#beerD  Beers I Love!
    ul(ng-repeat='love in user.loveIt')
      .panel.panel-body.love: a(href='', ng-click='show(beer)')
        img.love(src='{{love.labels.icon}}')
        .name&nbsp; {{love.name}}


.row
  .col-xs-12.dashboard
    h1#beerD Beers I Dislike
    ul(ng-repeat='hate in user.hateIt')
      .panel.panel-body.hate: a(href='', ng-click='show(beer)')
        img.hate(src='{{hate.labels.icon}}')
        .name&nbsp; {{hate.name}}
        button#del(ng-click='remove()') x
