

button.btn.btn-success(ng-show='beer.name', ng-click='addLove()').fa.fa-thumbs-o-up &nbsp; {{loveButton}}
button.btn.btn-danger(ng-show='beer.name', ng-click='addHate()').fa.fa-thumbs-o-down &nbsp; {{hateButton}}
.row
  .col-xs-12
    .panel(ng-show='beer.name')
      .panel-heading.panel-warning
        h1#bName {{beer.name}}
        .panel.body(ng-show='beer.name')
          .row
            .col-xs-4
              img#label(ng-src='{{beer.labels.medium || "/img/logo.jpg"}}', alt='beer')
            .col-xs-4
              h1#abvText(ng-show='beer.abv') ABV
              h1#abv(ng-show='beer.abv') {{beer.abv}}%
            .col-xs-4
              h2#glass {{beer.glass.name}}
              img#pint(src='{{beer.glass.img}}')
          .row
            .col-xs-12
              h4(ng-show='beer.description') Description:
              h5#description {{beer.description}}
        .panel-footer
          .row
            .col-xs-12
              h2#style(ng-show='beer.style.name') Style: {{beer.style.name}}
.row
  .col-xs-12
    input(type='text', ng-model='beername', placeholder='Dogfish Head')
    button.btn.btn-default#find(ng-click='findBeer()') Find Beer

.row
  .col-xs-12
    ul(ng-repeat='beer in beers')
        .panel.panel-default.beer: a#list(href='', ng-click='show(beer)')
          img.beer(ng-show='beer.labels.icon')(ng-src='{{beer.labels.icon || "/img/beerLogo.gif"}}')
          &nbsp; {{beer.name}}
          h6.styleAbv {{beer.style.name}} | {{beer.abv}}%
