h1#bName {
  text-align: center;
}

h2#style {
  color: black;
}

img#pint{
  max-width: 255px;
  max-height: 255px;
}


h5#description {
  color: black;
  float: center;
}

.panel-default.beer{
  height: 60px;
  width: 200px;
  padding: 2px;
  display: inline-block;
}

img.beer{
  border-radius: 360px;
  display: inline-block;
  height: 50px;
  width: 50px;
}
